<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br />
      <h3>Create New Listing</h3>
      <br />

      <form
        method="post"
        novalidate
        class="needs-validation"
        action="/listings"
        enctype="multipart/form-data"
      >
        <div>
          <label for="title" class="form-lable">Title</label>
          <input
            name="listing[title]"
            required
            type="text"
            class="form-control"
          /><br />
        </div>

        <div>
          <label for="description" required class="form-lable"
            >Description</label
          >
          <textarea
            name="listing[description]"
            clos="25"
            rows="10"
            required
            class="form-control"
          ></textarea
          ><br />
        </div>

        <div>
          <label for="price" class="form-lable">Price</label>
          <input
            name="listing[price]"
            required
            class="form-control"
            type="number"
          /><br />
        </div>
        <div>
          <label for="image" class="form-lable">Upload Image</label>
          <input
            required
            name="listing[image]"
            class="form-control"
            type="file"
          /><br />
        </div>

        <div>
          <label for="country" class="form-lable">Country</label>
          <input
            name="listing[country]"
            required
            class="form-control"
            type="text"
          /><br />
        </div>
        <div>
          <label for="location" class="form-lable">Location</label>
          <input
            name="listing[location]"
            required
            class="form-control"
            type="text"
          /><br />
        </div>

        <button class="btn btn-dark">Add</button>
      </form>
    </div>
  </div>
</body>
