

<div class="row">
    <div class="col-8 offset-2" >
        <br>
<h3>Login</h3>
<br>

<form method="post" novalidate  class="needs-validation" action="/users/login">
    <div>
    <label for="username" class="form-lable">Username</label>
    <input name="username" id="username" required type="text" class="form-control"><br>
    </div>

        <div>
            <label for="password" class="form-lable">Password</label>
            <input name="password" id="password" required type="password" class="form-control"><br>
            </div>
            <button class="btn btn-success">Login</button>
    </form>
    </div>
    </div>